*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #f5f5f5;
  color: #333;
}

nav {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1em;
  height: auto;
  background-color: #0d0d0d;
}

nav img {
  margin-top: 1em;
  height: 80px;
  align-self: center;
}

nav ul {
  list-style: none;
  display: flex;
  align-items: flex-end;
  gap: 1em;
  margin-bottom: 0.5em;
  padding: 0;
}

nav ul a {
  text-decoration: none;
  color: #d9d7c7;
  font-weight: bold;
}

nav button {
  padding: 1em 2em;
  border: none;
  background-color: #d9d7c7;
  font-weight: 600;
  cursor: pointer;
  border-radius: 4px;
  margin-bottom: 1em;
}

@media (max-width: 600px) {
  nav {
    height: auto;
    padding: 1em 0;
  }
  nav ul {
    flex-direction: column;
    align-items: center;
  }
}
